<!--
 Esta carpeta es el pie de página

<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <p>&copy; {{anioActual}}</p>
    <p>Fecha: {{fechaActual}}</p>
  </div>
</footer>
-->

<footer class="row">
  <div class="row mt-2 ms-2 pt-2 pb-2 col-12  col-sm-12 col-md-12 col-lg-12 text-white bg-dark text-center ps-3">
    <div class="col-6 col-sm-4 col-md-3 h5 gluten-footerClass">Quiénes Somos</div>
    <div class="col-6 col-sm-4 col-md-3 h5">Trabaja con nosotros</div>
    <div class="col-6 col-sm-4 col-md-3 h5">Tarifas de envio</div>
    <div class="col-6 col-sm-4 col-md-3 h5">Localizar un pedido</div>
    <div class="col-6 col-sm-4 col-md-3 h5">Devolver un producto</div>
    <div class="col-12 mt-3 gluten-footerClass">
      <p>Jose Miguel Camacho Herrera - <span id="current-year"></span></p>
      <p>&copy; {{anioActual}}</p>
      <p>Fecha: {{fechaActual}}</p>
    </div>
  </div>
</footer>