<body>
    <div class="contenedor container-fluid" *ngIf="product">
        <div class="row">
            <div class="izquierda col">
                <img id="foto" class="img-fluid" [src]="product.imgSrc">
                <h1>caracteristicas {{ product.caracteristicas }}</h1>
                    <p>modelo</p>
            </div>
        
            <div class="derecha col">
                    <h1>Nombre: {{ product.nombre }}</h1>
                    <h1>Descripcion: {{ product.descripcion }}</h1>
                    <h1>Precio: {{ product.precio }} €</h1>
                    <button class="btn btn-primary" (click)="addToCart(product.id)">Añadir al carrito</button>
            </div>
        </div>   
    </div>
</body>
